.header{
    background: #000;
    
    
    .container{
        max-width: 1220px;
        margin: 0 auto;
        padding: 15px;

        .store-name{
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 600;
            color: #fff;

            &:hover{
                color: rgb(190, 248, 179);
                cursor: pointer;
            }
        }
    }
}