.clear{
    color: #fff;
}

.dark{
    color: #000;
}

.mb-background{
    width: 100%;
    min-height: 400px;
    border-bottom: 1px #c6c6c6 solid;

    

    .title{
        text-align: center;
        margin: 0;
        padding: 130px 0;
        font-size: 50px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

.options-container{
    position: relative;
    top: -80px;
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin: 0 auto;

    button{
        background: none;
        display: block;
        padding: 10px;
        text-transform: uppercase;

        &.clear{
            border: 2px #fff solid;
        }

        &.dark{
            border: 2px #000 solid;
        }
    }
}